*{
    box-sizing: border-b0x;
}

body {
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-weight: bold;
}

span{
    font-size: 1em;
}

li:hover {
    background-color: lightblue;
    text-decoration: underline;
}